.profile-photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid #8d7b68;
  object-fit: cover;
  object-position: top; /* This ensures the top of the image is centered in the circle */
}
